<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>ABOUT US</h1>
<div class="d-flex flex-row bd-highlight mb-3">
<img src="http://www.praxware.com/img/our-vision.jpg">
<p>

Praxware Technologies is one of the well-known It Development, Training & Placement Service provider. It offers variety of services including web and Mobile Development, Corporate Training and Placement Services with quality assurance. We provide creative solutions that not only cater to clients current but future needs as well. We are always committed to establishing long-term relationship with our esteem Clients and Business Partners. Compelled to have an in-depth understanding of our clients’ needs and concerns, we provide total Business Solutions with an uncompromising level of excellence and integrity.
Praxware Technologies was established in February 2015 with the Aim to provide state-of-art products and innovative services in the field of Information Technology. At Praxware Technologies, we have the most experienced and dedicated developers and programmers who are always in accord with the fast growing technological orbit. We have designed and implemented a number of path breaking solutions that are user centric and target oriented.
</p>
</div>
</body>
</html>